**Artificial Neural Network**

Importing the libraries

In [49]:
import numpy as np
import pandas as pd
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
tf.__version__

'2.18.0'

**Part 1 - Data Preprocessing**

In [50]:
dataset = pd.read_csv('/Churn_Data.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [51]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [52]:
X=dataset.iloc[:, 3:-1].values    #take 3 to one before last
y=dataset.iloc[:, -1].values
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [53]:
print(y)

[1 0 1 ... 1 1 0]

**Encoding categorical data**

Label Encoding the "Gender" column

In [54]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X[:, 2]=le.fit_transform(X[:,2])
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [55]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [56]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Splitting the dataset into the Training set and Test set

In [58]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

Feature Scaling

In [59]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

X_test

array([[-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 ,  1.61085707],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  0.49587037],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 , -0.42478674],
       ...,
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  0.71888467],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -1.54507805],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  1.61255917]])

**2. Building the ANN**

Initializing the ANN

In [60]:

ann = tf.keras.models.Sequential()

Adding the input layer and the first hidden layer

In [61]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

Adding the second hidden layer

In [62]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

Adding the output layer

In [63]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

**3 - Training the ANN**

Compiling the ANN

In [64]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

 general guide for selecting optimizers, loss functions, and metrics for various cases in deep learning:

| Case/Task                        | Optimizer                    | Loss Function                | Metrics                                  |
|----------------------------------|------------------------------|------------------------------|------------------------------------------|
| **Binary Classification**        | Adam, RMSprop, SGD           | Binary Crossentropy          | Accuracy, Precision, Recall, F1-Score     |
| **Multiclass Classification**    | Adam, RMSprop, SGD           | Categorical Crossentropy     | Accuracy, Precision, Recall, F1-Score     |
| **Multilabel Classification**    | Adam, RMSprop, SGD           | Binary Crossentropy          | Accuracy, Precision, Recall, F1-Score     |
| **Regression**                   | Adam, RMSprop, SGD           | Mean Squared Error (MSE)     | Mean Absolute Error (MAE), R2 Score      |
| **Object Detection**             | Adam, RMSprop, SGD           | Region Proposal Network (RPN), Smooth L1 Loss | Mean Average Precision (mAP)        |
| **Image Segmentation**           | Adam, RMSprop, SGD           | Crossentropy, Dice Loss      | Intersection over Union (IoU), Dice Coefficient |
| **Generative Adversarial Nets (GAN)** | Adam, RMSprop             | Binary Crossentropy (Discriminator), Various for Generator | FID (Frchet Inception Distance), Inception Score |
| **Sequence-to-Sequence** (NLP)   | Adam, RMSprop, SGD           | Categorical Crossentropy, Sparse Categorical Crossentropy | BLEU Score, Perplexity                 |
| **Anomaly Detection**            | Adam, RMSprop, SGD           | Mean Squared Error (Reconstruction Error) | Area Under the Receiver Operating Characteristic (AU-ROC) |
| **Transfer Learning**            | Adam, RMSprop, SGD           | Task-specific loss function  | Task-specific evaluation metrics        |

Training the ANN on the Training set

In [65]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250  3s 3ms/step - accuracy: 0.4055 - loss: 0.7797
Epoch 2/100
250/250  1s 2ms/step - accuracy: 0.7971 - loss: 0.5260
Epoch 3/100
250/250  1s 2ms/step - accuracy: 0.7977 - loss: 0.4677
Epoch 4/100
250/250  0s 2ms/step - accuracy: 0.7977 - loss: 0.4475
Epoch 5/100
250/250  1s 2ms/step - accuracy: 0.8035 - loss: 0.4319
Epoch 6/100
250/250  1s 2ms/step - accuracy: 0.8120 - loss: 0.4266
Epoch 7/100
250/250  1s 2ms/step - accuracy: 0.8124 - loss: 0.4272
Epoch 8/100
250/250  1s 2ms/step - accuracy: 0.8231 - loss: 0.4165
Epoch 9/100
250/250  0s 2ms/step - accuracy: 0.8172 - loss: 0.4216
Epoch 10/100
250/250  0s 2ms/step - accuracy: 0.8234 - loss: 0.4151
Epoch 11/100
250/250  0s 2ms/step - accuracy: 0.8262 - loss: 0.4113
Epoch 12/100
250/250  1s 2ms/step - accuracy: 0.8261 - loss: 0.4110
Epoch 13/100
250/250  1s 2ms/step - accuracy: 0.8326 - loss: 0.4066
Epoch 14/100
250/250  1s 2ms/step - accuracy: 0.8228 - loss: 0.4147
Epoch 15/100
250/250  1s 2ms/step - accuracy: 0.8360 - loss: 0.4008
Epoch 16/100
250/250  0s 2ms/step - accuracy: 0.8362 - loss: 0.3955
Epoch 17/100
250/250  1s 2ms/step - accuracy: 0.8414 - loss: 0.3937
Epoch 18/100
250/250  1s 2ms/step - accuracy: 0.8374 - loss: 0.3902
Epoch 19/100
250/250  1s 3ms/step - accuracy: 0.8351 - loss: 0.3957
Epoch 20/100
250/250  1s 2ms/step - accuracy: 0.8348 - loss: 0.3866
Epoch 21/100
250/250  1s 2ms/step - accuracy: 0.8347 - loss: 0.3927
Epoch 22/100
250/250  1s 2ms/step - accuracy: 0.8351 - loss: 0.3758
Epoch 23/100
250/250  1s 2ms/step - accuracy: 0.8442 - loss: 0.3776
Epoch 24/100
250/250  1s 2ms/step - accuracy: 0.8352 - loss: 0.3747
Epoch 25/100
250/250  1s 2ms/step - accuracy: 0.8373 - loss: 0.3856
Epoch 26/100
250/250  1s 2ms/step - accuracy: 0.8410 - loss: 0.3767
Epoch 27/100
250/250  1s 2ms/step - accuracy: 0.8478 - loss: 0.3691
Epoch 28/100
250/250  1s 2ms/step - accuracy: 0.8451 - loss: 0.3728
Epoch 29/100
250/250  1s 2ms/step - accuracy: 0.8388 - loss: 0.3796
Epoch 30/100
250/250  0s 2ms/step - accuracy: 0.8492 - loss: 0.3594
Epoch 31/100
250/250  1s 2ms/step - accuracy: 0.8514 - loss: 0.3616
Epoch 32/100
250/250  1s 2ms/step - accuracy: 0.8514 - loss: 0.3621
Epoch 33/100
250/250  1s 2ms/step - accuracy: 0.8581 - loss: 0.3483
Epoch 34/100
250/250  1s 2ms/step - accuracy: 0.8519 - loss: 0.3619
Epoch 35/100
250/250  1s 2ms/step - accuracy: 0.8613 - loss: 0.3495
Epoch 36/100
250/250  1s 2ms/step - accuracy: 0.8612 - loss: 0.3412
Epoch 37/100
250/250  1s 3ms/step - accuracy: 0.8575 - loss: 0.3452
Epoch 38/100
250/250  1s 2ms/step - accuracy: 0.8579 - loss: 0.3479
Epoch 39/100
250/250  0s 2ms/step - accuracy: 0.8509 - loss: 0.3527
Epoch 40/100
250/250  1s 2ms/step - accuracy: 0.8587 - loss: 0.3397
Epoch 41/100
250/250  1s 2ms/step - accuracy: 0.8588 - loss: 0.3409
Epoch 42/100
250/250  1s 2ms/step - accuracy: 0.8598 - loss: 0.3412
Epoch 43/100
250/250  1s 2ms/step - accuracy: 0.8585 - loss: 0.3452
Epoch 44/100
250/250  1s 2ms/step - accuracy: 0.8563 - loss: 0.3511
Epoch 45/100
250/250  1s 2ms/step - accuracy: 0.8629 - loss: 0.3353
Epoch 46/100
250/250  0s 2ms/step - accuracy: 0.8564 - loss: 0.3460
Epoch 47/100
250/250  1s 2ms/step - accuracy: 0.8576 - loss: 0.3418
Epoch 48/100
250/250  1s 2ms/step - accuracy: 0.8661 - loss: 0.3392
Epoch 49/100
250/250  1s 2ms/step - accuracy: 0.8603 - loss: 0.3421
Epoch 50/100
250/250  1s 2ms/step - accuracy: 0.8634 - loss: 0.3373
Epoch 51/100
250/250  1s 2ms/step - accuracy: 0.8588 - loss: 0.3402
Epoch 52/100
250/250  1s 2ms/step - accuracy: 0.8672 - loss: 0.3307
Epoch 53/100
250/250  1s 2ms/step - accuracy: 0.8676 - loss: 0.3365
Epoch 54/100
250/250  1s 3ms/step - accuracy: 0.8703 - loss: 0.3309
Epoch 55/100
250/250  1s 3ms/step - accuracy: 0.8630 - loss: 0.3340
Epoch 56/100
250/250  1s 2ms/step - accuracy: 0.8539 - loss: 0.3453
Epoch 57/100
250/250  1s 2ms/step - accuracy: 0.8642 - loss: 0.3339
Epoch 58/100
250/250  1s 2ms/step - accuracy: 0.8630 - loss: 0.3343
Epoch 59/100
250/250  1s 2ms/step - accuracy: 0.8661 - loss: 0.3406
Epoch 60/100
250/250  1s 2ms/step - accuracy: 0.8558 - loss: 0.3470
Epoch 61/100
250/250  1s 2ms/step - accuracy: 0.8584 - loss: 0.3437
Epoch 62/100
250/250  1s 2ms/step - accuracy: 0.8583 - loss: 0.3430
Epoch 63/100
250/250  1s 2ms/step - accuracy: 0.8659 - loss: 0.3258
Epoch 64/100
250/250  1s 2ms/step - accuracy: 0.8543 - loss: 0.3460
Epoch 65/100
250/250  1s 2ms/step - accuracy: 0.8592 - loss: 0.3414
Epoch 66/100
250/250  1s 2ms/step - accuracy: 0.8644 - loss: 0.3378
Epoch 67/100
250/250  1s 2ms/step - accuracy: 0.8618 - loss: 0.3367
Epoch 68/100
250/250  1s 2ms/step - accuracy: 0.8611 - loss: 0.3386
Epoch 69/100
250/250  1s 2ms/step - accuracy: 0.8607 - loss: 0.3320
Epoch 70/100
250/250  1s 2ms/step - accuracy: 0.8588 - loss: 0.3458
Epoch 71/100
250/250  1s 2ms/step - accuracy: 0.8559 - loss: 0.3386
Epoch 72/100
250/250  1s 3ms/step - accuracy: 0.8613 - loss: 0.3402
Epoch 73/100
250/250  1s 3ms/step - accuracy: 0.8659 - loss: 0.3245
Epoch 74/100
250/250  1s 3ms/step - accuracy: 0.8586 - loss: 0.3380
Epoch 75/100
250/250  1s 3ms/step - accuracy: 0.8592 - loss: 0.3357
Epoch 76/100
250/250  1s 2ms/step - accuracy: 0.8613 - loss: 0.3347
Epoch 77/100
250/250  1s 2ms/step - accuracy: 0.8615 - loss: 0.3331
Epoch 78/100
250/250  1s 2ms/step - accuracy: 0.8644 - loss: 0.3333
Epoch 79/100
250/250  1s 2ms/step - accuracy: 0.8606 - loss: 0.3421
Epoch 80/100
250/250  1s 2ms/step - accuracy: 0.8628 - loss: 0.3326
Epoch 81/100
250/250  1s 2ms/step - accuracy: 0.8611 - loss: 0.3450
Epoch 82/100
250/250  0s 2ms/step - accuracy: 0.8670 - loss: 0.3290
Epoch 83/100
250/250  1s 2ms/step - accuracy: 0.8552 - loss: 0.3452
Epoch 84/100
250/250  1s 2ms/step - accuracy: 0.8591 - loss: 0.3403
Epoch 85/100
250/250  1s 2ms/step - accuracy: 0.8661 - loss: 0.3317
Epoch 86/100
250/250  1s 2ms/step - accuracy: 0.8656 - loss: 0.3289
Epoch 87/100
250/250  1s 2ms/step - accuracy: 0.8578 - loss: 0.3395
Epoch 88/100
250/250  1s 2ms/step - accuracy: 0.8613 - loss: 0.3355
Epoch 89/100
250/250  1s 2ms/step - accuracy: 0.8577 - loss: 0.3368
Epoch 90/100
250/250  1s 2ms/step - accuracy: 0.8623 - loss: 0.3358
Epoch 91/100
250/250  1s 2ms/step - accuracy: 0.8642 - loss: 0.3370
Epoch 92/100
250/250  1s 3ms/step - accuracy: 0.8636 - loss: 0.3297
Epoch 93/100
250/250  1s 3ms/step - accuracy: 0.8562 - loss: 0.3411
Epoch 94/100
250/250  1s 3ms/step - accuracy: 0.8616 - loss: 0.3414
Epoch 95/100
250/250  1s 2ms/step - accuracy: 0.8641 - loss: 0.3208
Epoch 96/100
250/250  0s 2ms/step - accuracy: 0.8674 - loss: 0.3265
Epoch 97/100
250/250  1s 2ms/step - accuracy: 0.8684 - loss: 0.3298
Epoch 98/100
250/250  1s 2ms/step - accuracy: 0.8663 - loss: 0.3278
Epoch 99/100
250/250  0s 2ms/step - accuracy: 0.8588 - loss: 0.3397
Epoch 100/100
250/250  1s 2ms/step - accuracy: 0.8618 - loss: 0.3317

**4 - Making the predictions and evaluating the model**

Predicting the result of a single observation

In [66]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: $ 50000

So, should we say goodbye to that customer?

In [67]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1  0s 75ms/step
[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

Important note 1: Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

Important note 2: Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

Predicting the Test set results

In [68]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63  0s 3ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

Making the Confusion Matrix

In [70]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1509   86]
 [ 199  206]]

0.8575